* {
    font-family: 'Oswald', sans-serif;
}

.section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
    text-align: center !important;
}

#submit-btn {
    text-align: center !important;
    border: 2px solid;
    width: 5rem;
    border-radius: 15px;
}







