* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}
#hero{
    position:relative;
    margin:0;
  }
  #hero div h1 {
    margin:20px;
  }
  #favorite-band-info{
    text-align:center;
    color:white;
    margin:0 auto;
  }
  li {
    list-style-type: disc !important;
  }

 
input {
    text-align: center;
    border-color: black;
  }
  #band-text-box {
    font-size: 20px;
    border-radius: 10px;
    border-color:black;

  }

  #submit-btn {
    margin-left: 10px;
  }
  #search-history{
    position: absolute;
    left: 2%;
  }
  




button {
    border: 2px solid;
    width: 5rem;
    border-radius: 15px;
  }

.section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
    text-align: center !important;
}

#submit-btn {
    text-align: center !important;
    border: 2px solid;
    width: 5rem;
    border-radius: 15px;
}


/* default display to none */
#content-link {
    display: none;
}


